.main{
    background-color: azure;
}

.body{
    margin:0px;
    background-color: brown;
    text-align: center;
}

.footer{
    height: 100px;
    width: 100px;
    background-color: rosybrown
}

body{
    margin:0px;
    text-align: center;
}